<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Detail</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="container">
        <h1 id="eventTitle"></h1>
        <p id="eventDescription"></p>
        <p id="eventDate"></p>
        <h3>Your Information</h3>
        <form id="userForm">
            <input type="text" id="name" placeholder="Name" required />
            <input type="email" id="email" disabled />
            <input type="text" id="phone" placeholder="Phone Number(Optional)" />
            <button type="submit">Submit</button>
        </form>
    </div>

    <script src="../js/event-detail.js"></script>
</body>
</html>
