<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#007bff" />
  <title>User - Event</title>
  <link rel="stylesheet" href="../css/styles.css" />
  <link rel="manifest" href="../manifest.json" />
</head>
<body>
  <div class="container">
      <h1 class="main-title">DX is for better life!</h1>
      <h2 id="eventTitle">Event Title</h2>
      <p id="eventDate"></p>
      <div id="eventList" class="event-container"></div>
    </div>
    
  <script src="../js/user.js"></script>
</body>
</html>
