<!-- views/login.html -->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8" />
  <title>DX IS FOR BETTER LIFE!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../public/css/style.css" />
</head>
<body>
  <h1>Login</h1>
  <form action="/login" method="POST">
    <label for="email">email:</label>
    <input type="email" name="email" id="email" required />
    <button type="submit">Login</button>
  </form>
  

  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/sw.js')
          .then(() => console.log('Service Worker Successful'))
          .catch(err => console.error('Service Worker Fail', err));
      });
    }
  </script>
  
</body>
</html>
